  <nav class="container">
    <div class="1">
    <a href="/" class="navLinks">Home</a>
    </div>
    <div class="2">
    <a href="/workouts" class="navLinks">Workouts</a>
    </div>
    <div class="3">
    <a href="/programs" class="navLinks">Programs </a>
    </div>
    <div class="4">
    <a href="/social" class="navLinks">Social </a>
    </div>
    <div class="5">
    <a href="#forum" class="navLinks">Forum </a>
    </div>
    <div class="logo">
    </div>
  </nav>