<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Muscle-Up</title>

    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDdctzpqJ9gSrVeUQDONLnrFs-yTH1hGHc",
        authDomain: "finalproject-7ea7d.firebaseapp.com",
        databaseURL: "https://finalproject-7ea7d.firebaseio.com",
        projectId: "finalproject-7ea7d",
        storageBucket: "finalproject-7ea7d.appspot.com",
        messagingSenderId: "1017785290385"
      };
      firebase.initializeApp(config);
    </script>      
    </head>