<% include partials/header.ejs %>     
    <body class="home-bg">  
  
          <% include partials/head.ejs %>
  
       <br>
        <div id="display-name"></div>
<div class="tabordion">
  <section id="section1">
    <input type="radio" name="sections" id="option1" checked>
    <label for="option1">Cardio Program</label>
    <article>
      <p>Cardiovascular fitness is the ability of the heart, blood cells and lungs to supply oxygen-rich blood to the working muscle tissues and the ability of the muscles to use oxygen to produce energy for movement.This type of fitness is a health-related component of physical fitness that is brought about by sustained physical activity.A person's ability to deliver oxygen to the working muscles is affected by many physiological parameters, including heart rate, stroke volume, cardiac output, and maximal oxygen consumption.ury.</p>
      <p>Understanding the relationship between cardiorespiratory endurance training and other categories of conditioning requires a review of changes that occur with increased aerobic, or anaerobic capacity. As aerobic/anaerobic capacity increases, general metabolism rises, muscle metabolism is enhanced, hemoglobin rises, buffers in the bloodstream increase, venous return is improved, stroke volume is improved, and the blood bed becomes more able to adapt readily to varying demands. Each of these results of cardiovascular fitness/cardiorespiratory conditioning will have a direct positive effect on muscular endurance, and an indirect effect on strength and flexibility.</p>
      <h1>Nutritional Plan</h1>
      <div class="row">
  <div class="column left" style="background-color:#aaa;">
      <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
      <ul><b>Lunch</b></ul>
      <li>1 cup brown rice</li>
      <li>8 oz chicken breast</li>
      <li>1 cup cooked spinach</li>
      <li>1 apple</li>
  </div>
  <div class="column right" style="background-color:#bbb;">
    <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
  </div>
</div>
    </article>
  </section>
  <section id="section2">
    <input type="radio" name="sections" id="option2">
    <label for="option2">Build Muscle</label>
    <article>
      <p>It’s a lofty goal: Gain 10 pounds of muscle in just one month. While such results are aggressive and can’t continue at the same torrid rate indefinitely, we’ve seen firsthand individuals who’ve followed our mass-gaining programs and reached double digits in four short weeks, averaging gains of 2-3 pounds a week. Trust us, it can be done. But if there’s one thing such a bold goal needs, it’s an ambitious training and nutrition strategy. In regard to nutrition, don’t even think about taking that aspect lightly. You can work out all you want, but if you don’t ingest adequate calories and macronutrients, you won’t build muscle. What and when you eat is paramount to your results, and you’ll find all you need to know about gaining mass in a short amount of time in our bulking diet meal plan.</p>
      <p>First up, however, is training. Our two-phase program is designed to build muscle via the right balance of mass-building exercises, sufficient volume and intensity-boosting techniques. It’s time to get started on your next 10 pounds.</p>
      <h1>Nutritional Plan</h1>
      <div class="row">
  <div class="column left" style="background-color:#aaa;">
      <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
      <ul><b>Lunch</b></ul>
      <li>1 cup brown rice</li>
      <li>8 oz chicken breast</li>
      <li>1 cup cooked spinach</li>
      <li>1 apple</li>
  </div>
  <div class="column right" style="background-color:#bbb;">
   <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
  </div>
</div>
      
    </article>
  </section>
  <section id="section3">
    <input type="radio" name="sections" id="option3">
    <label for="option3">Lose Weight</label>
    <article>
      <p>To transform your body, to get fit, to be healthy and to feel great you gotta exercise. Just like the air you breathe, your body needs physical exercise. And it needs exercise in a way that is so far-reaching that scientists are only just starting to unravel some of the amazing effects exercise has on our bodies. Did you know, that exercise can actually reprogram your DNA? And while you may think that by not doing exercise you’re not doing any harm, lack of exercise itself can alter your DNA – but unfavourably!</p>
      <h1>Nutritional Plan</h1>
      <div class="row">
  <div class="column left" style="background-color:#aaa;">
      <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
      <ul><b>Lunch</b></ul>
      <li>1 cup brown rice</li>
      <li>8 oz chicken breast</li>
      <li>1 cup cooked spinach</li>
      <li>1 apple</li>
  </div>
  <div class="column right" style="background-color:#bbb;">
    <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
  </div>
</div>
      
    </article>
  </section>
  <section id="section4">
    <input type="radio" name="sections" id="option4">
    <label for="option4">Tone Up</label>
    <article>
      <p>This 21-day plan is designed for all fitness levels, so follow the exercise and cardio variations that are right for you. Lacing up after a long layoff? Use the three weeks to make exercise a lifelong habit. If you're already in the swing of things, there are plenty of challenges here to boost your results.The program consists of four primary workouts: three strength circuits and a cardio routine. Each circuit focuses on a different set of muscle groups; the cardio plan is designed to blast calories and improve your aerobic fitness. For best results, do the workouts in the order given below.</p>
      <p>Sure, we're suckers for a workout that promises flat abs and a tight butt as much as the next girl. But there's a more important reason to exercise: It makes you feel great. "Good mental health is just as important as good physical health, and exercise is crucial to getting both," says trainer Jeanette Jenkins, author of The Hollywood Trainer Weight-Loss Plan: 21 Days to Make Healthy Living a Lifetime Habit. Her plan celebrates all of the fab stuff that comes with exercise: more energy, better health, and the motivation to keep coming back for more. So while this routine will definitely help you see an improvement in the right-around-the-corner skimpy-outfits season, it'll also help you love the shape you're in, inside and out.</p>
      <h1>Nutritional Plan</h1>
      <div class="row">
  <div class="column left" style="background-color:#aaa;">
      <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
      <ul><b>Lunch</b></ul>
      <li>1 cup brown rice</li>
      <li>8 oz chicken breast</li>
      <li>1 cup cooked spinach</li>
      <li>1 apple</li>
  </div>
  <div class="column right" style="background-color:#bbb;">
    <ul><b>Breakfast</b></ul>
      <li>3 scrambled eggs (2 egg whites and 1 whole egg)</li>
      <li>2 slices whole-grain toast</li>
      <li>2 cups mixed fruit 1 cup Greek yogurt</li>
  </div>
</div>
    </article>
  </section>
        </div>
        <br>
        <br>
         <div class="images">
            <img style="width: 70%" id="user-img">
             <p>Add a profile image:</p>
	<input id="profile_img_file" type="file" name="profile_img" accept="image/gif, image/jpeg, image/png">
	<button id="submit" onClick={createPicture()}>Submit Image</button>
        </div>
            <div class="user">
       <form method="GET" action="/social">
		<input type="hidden" name="uid" id="userInput">
		<input type="submit" value="Write a new post">
	   </form>
        </div>
        <% include partials/footer.ejs %>
   <script>
		function signOut() {
			firebase.auth().signOut();
			location.reload();
		};
		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				console.log('user', user);
				const userInput = document.getElementById("userInput");
				userInput.value = user.uid;
				const userName = document.getElementById("display-name");
                const userImg = document.getElementById('user-img');

				userName.textContent = "Welcome, " + user.displayName;
                if (user.photoURL) {
                    userImg.src = user.photoURL;
                } else {
                    userImg.src = '/user.png';
                }
                
                
			} else {
				console.log("out")
			}
		});
       
       
       
       
      document.getElementById("submit").onclick = function() {
			const user = firebase.auth().currentUser;
			const file = document.getElementById('profile_img_file').files[0];
			const storage = firebase.storage();
			const ref = storage.ref('/users/' + user.uid);
			ref.child('profile_img').put(file)
				.then(function(file){
					const url = file.downloadURL;
					const db = firebase.database();
					const dbRef = db.ref('/users/' + user.uid + '/profile_img_url');
					dbRef.set(url)
						.then(function(success) {
							user.updateProfile({ photoURL: url })
								.then(function(success) {
									location.reload();
								})
								.catch(function(error) {
									console.log(error);
								});
						})
						.catch(function(error) {
							console.log(error);
						});
				})
				.catch(function(error){
					console.log(error);
				});
		};

	</script>
    </body>
</html>